/openuc2-next/.next
/openuc2-next/node_modules
/openuc2-next/out
/openuc2-next/openuc2-next/_next
/openuc2-next/openuc2-next
/node_modules
/.next
/openuc2-next/_next
/openuc2-next/build
/openuc2-next/server
/openuc2-next/static/chunks
